$white: #FFFFFF;
$Catskill-White:#F2F5F7;
$black: #000000;
$Gainsboro: #DEDBDB;
$Oslo-Grey: #8A8A8A;
$Iridium: #3B3B3B;
$Dark-Jungle-Green: #212526;
$International-Orange: #F05A00;
$Portland-Orange: #FC573B;
$Prosto-One-Family: Prosto One;
$raleway: Raleway